@import '../../styles/pages/vars.scss';
.container {
  max-width: 800px;
  margin: 0 auto;

  h1 {
    color: $blue;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

@media (max-width: 800px) {
  .container {
    margin-left: 10px;
    margin-right: 10px;
  }
}
